---
const { buttonText } = Astro.props;
---

<a href="#">{buttonText}</a>

<style>
  a {
    border-radius: 25px;
    padding: 10px 35px;
    text-decoration: none;
    color: rgb(238, 249, 255);
    background-color: rgb(0, 78, 118);
  }
</style>
