---
import { Image } from "astro:assets";
const { placeholder, text, title, tekst } = Astro.props;
---

<section class="feature">
  <Image src={placeholder} alt="Beskrivende tekst" class="placeholder" />
  <div class="content">
    <h4>{title}</h4>
    <p>{text}</p>
    <p>{tekst}</p>
  </div>
</section>

<style>
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px));
    gap: 1rem;
    margin: 1rem;
  }

  p {
    font-size: clamp(14px, 10vw, 18px);
  }
</style>
