---
import { Image } from "astro:assets";
import logoBig from "../assets/logoBig.svg";
---

<footer>
  <div class="logo-text">
    <Image src={logoBig} alt="Logo" />
    <p>Vi forener unge kreative talenter med branchens garvede profiler - følg os for updates på vores nyeste netværksevents</p>
  </div>
  <div class="contact">
    <div>
      <p class="bold">Telefon</p>
      <p>60 91 43 26</p>
    </div>
    <div>
      <p class="bold">Socials</p>
      <p>Facebook</p>
      <p>Instagram</p>
    </div>
    <div>
      <p class="bold">Adresse</p>
      <p>Jacob Cameron Brook,</p>
      <p>Landskronagade 27, st.,</p>
      <p>2100 København Ø</p>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(0, 140, 216);
    padding: 4rem 1rem;
    justify-content: space-between;
  }
  p {
    color: rgb(238, 249, 255);
  }
  .bold {
    font-weight: bold;
    color: rgb(255, 202, 227);
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer div:first-of-type {
    max-width: 35ch;
  }

  .logo-text p {
    margin: 2rem 0;
  }
  @media (width>=800px) {
    footer {
      display: flex;
    }

    .contact div:last-of-type {
      grid-column: -1/-2;
    }

    .contact {
      margin-right: 5rem;
    }
  }
</style>
