---
import Navigation from "../components/Navigation.astro";
import { Image } from "astro:assets";
import logoBig from "../assets/logoBig.svg";
---

<header>
  <Navigation />
  <div class="hero">
    <Image src={logoBig} alt="Logo" />
    <p>Young Creatives Denmark skaber rum for sparring, relationer og nye perspektiver gennem events og netværking.</p>
  </div>
</header>

<style>
  header {
    background-color: rgb(0, 140, 216);
  }
  .hero {
    display: flex;
    align-items: center;
    padding: 10rem 0;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 1rem;
  }

  p {
    color: rgb(238, 249, 255);
    font-size: clamp(20px, 10vw, 24px);
    font-weight: 300;
    max-width: 37ch;
  }
</style>
