---
import Navigation from "../components/Navigation.astro";
import { Image } from "astro:assets";
import logoBig from "../assets/logoBig.svg";
import heroimg from "../assets/HeroImage.png";
---

<header>
  <div class="hero-img">
    <Image src={heroimg} alt="Hero image" />
  </div>
  <div class="hero-content">
    <Navigation />
    <div class="hero">
      <Image src={logoBig} alt="Logo" />
      <p>Young Creatives Denmark skaber rum for sparring, relationer og nye perspektiver gennem events og netværking.</p>
    </div>
  </div>
</header>

<style>
  header {
    display: grid;
    background-color: rgb(0, 140, 216);
  }

  .hero-content {
    grid-area: 1/1;
  }

  .hero-img {
    grid-area: 1/1;
    overflow: hidden;
  }

  .hero-img :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 10rem 0;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 1rem;
  }

  p {
    color: rgb(238, 249, 255);
    font-size: clamp(20px, 10vw, 24px);
    font-weight: 300;
    max-width: 37ch;
  }
</style>
